---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?orientation=landscape&page=1&per_page=1&query=indianapolis,%20in
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <UNSPLASH_ACCESS_KEY>
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?orientation=landscape&page=70&per_page=1&query=indianapolis%2C+in>;
        rel="last", <https://api.unsplash.com/search/photos?orientation=landscape&page=2&per_page=1&query=indianapolis%2C+in>;
        rel="next"
      X-Total:
      - '70'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: '{"total":70,"total_pages":70,"results":[{"id":"fAOqScBvMSc","created_at":"2019-10-02T14:04:54-04:00","updated_at":"2020-02-07T00:03:22-05:00","promoted_at":null,"width":5159,"height":2902,"color":"#F3C8A0","description":"Facing
        east in downtown Indianapolis at around 7:30 AM. ","alt_description":"cars
        on road","urls":{"raw":"https://images.unsplash.com/photo-1570039486851-9caa462a2cd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExODU0MH0","full":"https://images.unsplash.com/photo-1570039486851-9caa462a2cd3?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjExODU0MH0","regular":"https://images.unsplash.com/photo-1570039486851-9caa462a2cd3?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExODU0MH0","small":"https://images.unsplash.com/photo-1570039486851-9caa462a2cd3?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjExODU0MH0","thumb":"https://images.unsplash.com/photo-1570039486851-9caa462a2cd3?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjExODU0MH0"},"links":{"self":"https://api.unsplash.com/photos/fAOqScBvMSc","html":"https://unsplash.com/photos/fAOqScBvMSc","download":"https://unsplash.com/photos/fAOqScBvMSc/download","download_location":"https://api.unsplash.com/photos/fAOqScBvMSc/download"},"categories":[],"likes":19,"liked_by_user":false,"current_user_collections":[],"user":{"id":"FyO8OlyJ4WM","updated_at":"2020-01-29T22:17:34-05:00","username":"hunterjamesphotography","name":"Hunter
        James","first_name":"Hunter","last_name":"James","twitter_username":"hintarontwitch","portfolio_url":null,"bio":"I''m
        here to show you my photos.","location":"Champaign, IL, USA. ","links":{"self":"https://api.unsplash.com/users/hunterjamesphotography","html":"https://unsplash.com/@hunterjamesphotography","photos":"https://api.unsplash.com/users/hunterjamesphotography/photos","likes":"https://api.unsplash.com/users/hunterjamesphotography/likes","portfolio":"https://api.unsplash.com/users/hunterjamesphotography/portfolio","following":"https://api.unsplash.com/users/hunterjamesphotography/following","followers":"https://api.unsplash.com/users/hunterjamesphotography/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1551411711955-0cc3f788b202?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1551411711955-0cc3f788b202?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1551411711955-0cc3f788b202?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"hunter_james_photography","total_collections":0,"total_likes":12,"total_photos":41,"accepted_tos":true},"tags":[{"type":"search","title":"road"},{"type":"search","title":"intersection"},{"type":"search","title":"asphalt"}]}]}'
  recorded_at: Tue, 03 Mar 2020 04:23:07 GMT
recorded_with: VCR 5.1.0
