---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Pueblo,CO&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Pueblo",
                       "short_name" : "Pueblo",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Pueblo County",
                       "short_name" : "Pueblo County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Pueblo, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 38.345385,
                          "lng" : -104.460868
                       },
                       "southwest" : {
                          "lat" : 38.1891058,
                          "lng" : -104.7208689
                       }
                    },
                    "location" : {
                       "lat" : 38.2544472,
                       "lng" : -104.6091409
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 38.345385,
                          "lng" : -104.460868
                       },
                       "southwest" : {
                          "lat" : 38.1891058,
                          "lng" : -104.7208689
                       }
                    }
                 },
                 "place_id" : "ChIJZbEbB_OiE4cRLrjHaKNrLag",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 03 Mar 2020 20:31:31 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=Pueblo,CO&key=<GOOGLE_API_KEY>&origins=Denver,CO&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [ "Pueblo, CO, USA" ],
           "origin_addresses" : [ "Denver, CO, USA" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "114 mi",
                          "value" : 184174
                       },
                       "duration" : {
                          "text" : "1 hour 48 mins",
                          "value" : 6456
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 03 Mar 2020 20:31:31 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_SECRET>/38.2544472,-104.6091409,1583273947
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 794ms
      X-Forecast-Api-Calls:
      - '5'
      X-Response-Time:
      - 23.731ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":38.2544472,"longitude":-104.6091409,"timezone":"America/Denver","currently":{"time":1583273947,"summary":"Clear","icon":"clear-day","precipIntensity":0.0017,"precipProbability":0.01,"precipType":"rain","temperature":61.4,"apparentTemperature":61.4,"dewPoint":11.8,"humidity":0.14,"pressure":1007.2,"windSpeed":5.36,"windGust":8.9,"windBearing":61,"cloudCover":0,"uvIndex":2,"visibility":10,"ozone":338.4},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1583218800,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":33.55,"apparentTemperature":28.7,"dewPoint":15.28,"humidity":0.47,"pressure":1012.4,"windSpeed":5.23,"windGust":8.69,"windBearing":330,"cloudCover":0,"uvIndex":0,"visibility":10,"ozone":345.5},{"time":1583222400,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":32.1,"apparentTemperature":27.29,"dewPoint":16.36,"humidity":0.52,"pressure":1[...]
