---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_SECRET>/39.7392358,-104.990251,1583179830
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 826ms
      X-Forecast-Api-Calls:
      - '9'
      X-Response-Time:
      - 23.560ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583179830,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":47.74,"apparentTemperature":47.74,"dewPoint":27.56,"humidity":0.46,"pressure":1006.2,"windSpeed":2.78,"windGust":8.8,"windBearing":101,"cloudCover":0.09,"uvIndex":4,"visibility":10,"ozone":343.8},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1583132400,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0.0055,"precipProbability":0.06,"precipType":"snow","precipAccumulation":0.0547,"temperature":28.59,"apparentTemperature":28.59,"dewPoint":25.69,"humidity":0.89,"pressure":1019.3,"windSpeed":1.45,"windGust":3.52,"windBearing":105,"cloudCover":0.8,"uvIndex":0,"visibility":3.249,"ozone":375.1},{"time":1583136000,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0.0006,"precipProbability":0.01,"precipType":"snow","precipAccumulation":0.006,"temperature":28.27,"apparentTemperature":28.27,"dewPoint":25.92,"humidity":0.91,"pressure":1018.8,"w[...]
