---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_SECRET>/39.7392358,-104.990251,1583179830
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 925ms
      X-Forecast-Api-Calls:
      - '27'
      X-Response-Time:
      - 24.436ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583179830,"summary":"Clear","icon":"clear-day","precipIntensity":0.0003,"precipProbability":0.01,"precipType":"rain","temperature":43.84,"apparentTemperature":40.19,"dewPoint":25.74,"humidity":0.49,"pressure":1007.5,"windSpeed":6.25,"windGust":20.41,"windBearing":336,"cloudCover":0.12,"uvIndex":4,"visibility":10,"ozone":346.3},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1583132400,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0.0055,"precipProbability":0.06,"precipType":"snow","precipAccumulation":0.0547,"temperature":28.59,"apparentTemperature":28.59,"dewPoint":25.69,"humidity":0.89,"pressure":1019.3,"windSpeed":1.45,"windGust":3.52,"windBearing":105,"cloudCover":0.8,"uvIndex":0,"visibility":3.249,"ozone":375.1},{"time":1583136000,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0.0006,"precipProbability":0.01,"precipType":"snow","precipAccumulation":0.006,"temperature":28.27,"apparentTemperature":28.27,"dewPoint":25.92,"humidity":0.91,"pressure":1018.8,"w[...]
