---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=pueblo,co&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Pueblo",
                       "short_name" : "Pueblo",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Pueblo County",
                       "short_name" : "Pueblo County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Pueblo, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 38.345385,
                          "lng" : -104.460868
                       },
                       "southwest" : {
                          "lat" : 38.1891058,
                          "lng" : -104.7208689
                       }
                    },
                    "location" : {
                       "lat" : 38.2544472,
                       "lng" : -104.6091409
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 38.345385,
                          "lng" : -104.460868
                       },
                       "southwest" : {
                          "lat" : 38.1891058,
                          "lng" : -104.7208689
                       }
                    }
                 },
                 "place_id" : "ChIJZbEbB_OiE4cRLrjHaKNrLag",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 02 Mar 2020 18:03:41 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=pueblo,co&key=<GOOGLE_API_KEY>&origins=denver,co&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [ "Pueblo, CO, USA" ],
           "origin_addresses" : [ "Denver, CO, USA" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "114 mi",
                          "value" : 184174
                       },
                       "duration" : {
                          "text" : "1 hour 48 mins",
                          "value" : 6456
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 02 Mar 2020 18:03:41 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_SECRET>/38.2544472,-104.6091409,1583178677
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 637ms
      X-Forecast-Api-Calls:
      - '20'
      X-Response-Time:
      - 32.553ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":38.2544472,"longitude":-104.6091409,"timezone":"America/Denver","currently":{"time":1583178677,"summary":"Clear","icon":"clear-day","precipIntensity":0.002,"precipProbability":0.03,"precipType":"rain","temperature":55.88,"apparentTemperature":55.9,"dewPoint":25.85,"humidity":0.31,"pressure":1005.9,"windSpeed":5.82,"windGust":16.21,"windBearing":235,"cloudCover":0.1,"uvIndex":4,"visibility":10,"ozone":376.2},"hourly":{"summary":"Flurries
        this morning.","icon":"rain","data":[{"time":1583132400,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":38.32,"apparentTemperature":32.04,"dewPoint":31.31,"humidity":0.76,"pressure":1016.4,"windSpeed":8.99,"windGust":15.25,"windBearing":35,"cloudCover":0.98,"uvIndex":0,"visibility":10,"ozone":360.2},{"time":1583136000,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":36.64,"apparentTemperature":32.19,"dewPoint":32.77,"humidity":0.86,"pressure":1017.2,"windSpeed":5.42,"windGust":11.95,"windBearing":39,"cloudCover":0.99,"uvIndex":0,"visibility":3.162,"ozone":360.4},{"time":1583139600,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":34.99,"apparentTemperature":31.12,"dewPoint":32.76,"humidity":0.91,"pressure":1017.1,"windSpeed":4.42,"windGust":9.64,"windBearing":71,"cloudCover":1,"uvIndex":0,"visibility":3.412,"ozone":362.5},{"time":1583143200,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0244,"precipProbability":0.13,"precipType":"snow","precipAccumulation":0.1279,"temperature":34.21,"apparentTemperature":29.53,"dewPoint":31.89,"humidity":0.91,"pressure":1016.5,"windSpeed":5.17,"windGust":10.78,"windBearing":80,"cloudCover":0.97,"uvIndex":0,"visibility":7.763,"ozone":368.5},{"time":1583146800,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0084,"precipProbability":0.06,"precipType":"snow","precipAccumulation":0.0476,"temperature":33.64,"apparentTemperature":29.01,"dewPoint":31.22,"humidity":0.91,"pressure":1015.7,"windSpeed":4.99,"windGust[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?latitude=38.2544472&limit=1&longitude=-104.6091409&open_at=1583178677&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - 10-69-228-133-uswest2cprod; site=public_api_v3
      Ratelimit-Remaining:
      - '4982'
      X-Zipkin-Id:
      - 275d3ad934e9c1e6
      Ratelimit-Resettime:
      - '2020-03-03T00:00:00+00:00'
      Ratelimit-Dailylimit:
      - '5000'
      X-Proxied:
      - 10-69-140-124-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "M4MwxQAA58B7ENV8ootI-w", "alias": "kans-kitchen-pueblo",
        "name": "Kan''s Kitchen", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/ZZVNpsvc_x6p5iY8CCpzUg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/kans-kitchen-pueblo?adjust_creative=ZAiMkgPaBoMS_QEQd2RsCg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ZAiMkgPaBoMS_QEQd2RsCg",
        "review_count": 17, "categories": [{"alias": "chinese", "title": "Chinese"},
        {"alias": "hotdogs", "title": "Fast Food"}], "rating": 4.5, "coordinates":
        {"latitude": 38.2401504516602, "longitude": -104.643249511719}, "transactions":
        ["delivery"], "price": "$", "location": {"address1": "1620 S Prairie Ave",
        "address2": null, "address3": null, "city": "Pueblo", "zip_code": "81005",
        "country": "US", "state": "CO", "display_address": ["1620 S Prairie Ave",
        "Pueblo, CO 81005"]}, "phone": "+17195660209", "display_phone": "(719) 566-0209",
        "distance": 3386.914032680166}], "total": 10, "region": {"center": {"longitude":
        -104.6091409, "latitude": 38.2544472}}}'
  recorded_at: Mon, 02 Mar 2020 18:03:42 GMT
recorded_with: VCR 5.1.0
