---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=pueblo,co&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Pueblo",
                       "short_name" : "Pueblo",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Pueblo County",
                       "short_name" : "Pueblo County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Pueblo, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 38.345385,
                          "lng" : -104.460868
                       },
                       "southwest" : {
                          "lat" : 38.1891058,
                          "lng" : -104.7208689
                       }
                    },
                    "location" : {
                       "lat" : 38.2544472,
                       "lng" : -104.6091409
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 38.345385,
                          "lng" : -104.460868
                       },
                       "southwest" : {
                          "lat" : 38.1891058,
                          "lng" : -104.7208689
                       }
                    }
                 },
                 "place_id" : "ChIJZbEbB_OiE4cRLrjHaKNrLag",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 02 Mar 2020 17:17:57 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=pueblo,co&key=<GOOGLE_API_KEY>&origins=denver,co&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [ "Pueblo, CO, USA" ],
           "origin_addresses" : [ "Denver, CO, USA" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "114 mi",
                          "value" : 184174
                       },
                       "duration" : {
                          "text" : "1 hour 48 mins",
                          "value" : 6456
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 02 Mar 2020 17:17:58 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_SECRET>/38.2544472,-104.6091409,1583175934
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 279ms
      X-Forecast-Api-Calls:
      - '6'
      X-Response-Time:
      - 23.865ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":38.2544472,"longitude":-104.6091409,"timezone":"America/Denver","currently":{"time":1583175934,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":48.59,"apparentTemperature":46.51,"dewPoint":29.61,"humidity":0.48,"pressure":1007.9,"windSpeed":5.23,"windGust":13.36,"windBearing":214,"cloudCover":0.22,"uvIndex":4,"visibility":10,"ozone":382.2},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1583132400,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":38.32,"apparentTemperature":32.04,"dewPoint":31.31,"humidity":0.76,"pressure":1016.4,"windSpeed":8.99,"windGust":15.25,"windBearing":35,"cloudCover":0.98,"uvIndex":0,"visibility":10,"ozone":360.2},{"time":1583136000,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":36.64,"apparentTemperature":32.19,"dewPoint":32.77,"humidity":0.86,"pressure":1017.2,"windSpeed":5.42,"windGust":11.95,"windBearing":39,"cloudCover":0.99,"uvIndex":0,"visibility":3.162,"ozone":360.4},{"time":1583139600,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":34.99,"apparentTemperature":31.12,"dewPoint":32.76,"humidity":0.91,"pressure":1017.1,"windSpeed":4.42,"windGust":9.64,"windBearing":71,"cloudCover":1,"uvIndex":0,"visibility":3.412,"ozone":362.5},{"time":1583143200,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0244,"precipProbability":0.13,"precipType":"snow","precipAccumulation":0.1279,"temperature":34.21,"apparentTemperature":29.53,"dewPoint":31.89,"humidity":0.91,"pressure":1016.5,"windSpeed":5.17,"windGust":10.78,"windBearing":80,"cloudCover":0.97,"uvIndex":0,"visibility":7.763,"ozone":368.5},{"time":1583146800,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0084,"precipProbability":0.06,"precipType":"snow","precipAccumulation":0.0476,"temperature":33.64,"apparentTemperature":29.01,"dewPoint":31.22,"humidity":0.91,"pressure":1015.7,"windSpeed":4.99,"windGust[...]
[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?category=chinese&key=<YELP_API_KEY>&latitude=38.2544472&limit=1&longitude=-104.6091409&open_at=1583176124
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - 10-69-188-172-uswest2bprod; site=public_api_v3
      X-Zipkin-Id:
      - 1bb187df2948b56a
      X-Proxied:
      - 10-69-222-31-uswest2cprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "Authorization
        is a required parameter.", "field": "Authorization", "instance": null}}'
  recorded_at: Mon, 02 Mar 2020 17:21:08 GMT
[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?category=chinese&latitude=38.2544472&limit=1&longitude=-104.6091409&open_at=1583176218
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - 10-64-117-30-uswest1aprod; site=public_api_v3
      Ratelimit-Remaining:
      - '4993'
      X-Zipkin-Id:
      - 96d80d0dee5b80ca
      Ratelimit-Resettime:
      - '2020-03-03T00:00:00+00:00'
      Ratelimit-Dailylimit:
      - '5000'
      X-Proxied:
      - 10-64-66-176-uswest1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "8wGSggWsopmqoCyd9bY-dw", "alias": "bingo-burger-pueblo-4",
        "name": "Bingo Burger", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/KyMKYZ2W8nyjocqzkrrEog/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/bingo-burger-pueblo-4?adjust_creative=ZAiMkgPaBoMS_QEQd2RsCg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ZAiMkgPaBoMS_QEQd2RsCg",
        "review_count": 365, "categories": [{"alias": "burgers", "title": "Burgers"}],
        "rating": 4.0, "coordinates": {"latitude": 38.268043, "longitude": -104.609794},
        "transactions": ["delivery", "pickup"], "price": "$$", "location": {"address1":
        "101 Central Plz", "address2": "", "address3": "", "city": "Pueblo", "zip_code":
        "81003", "country": "US", "state": "CO", "display_address": ["101 Central
        Plz", "Pueblo, CO 81003"]}, "phone": "+17192258363", "display_phone": "(719)
        225-8363", "distance": 1512.8573112785734}], "total": 77, "region": {"center":
        {"longitude": -104.6091409, "latitude": 38.2544472}}}'
  recorded_at: Mon, 02 Mar 2020 17:22:42 GMT
[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?latitude=38.2544472&limit=1&longitude=-104.6091409&open_at=1583176268&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - 10-64-87-227-uswest1aprod; site=public_api_v3
      Ratelimit-Remaining:
 [...]
